#historical-sales-data-content-wrapper {
  display: flex;
  flex-direction: row;
  height: 36vh;
}

#historical-sales-data-parameter-buttons-wrapper {
  margin-left: 1vw;
}

.historical-sales-data-button-label-text {
  margin-bottom: 0;
}

.calendar-wrapper {
  position: relative;
  display: inline-block; /* or use display: block; */
}

#build-analytics-report-button {
  margin-top: 3vh;
}
