.update-inv-at-location-controls-wrapper {
  display: grid;
  grid-template-columns: 9vw 1fr 1fr;
  align-content: start;
  margin: 0 0.5vw 0 0.5vw;
}

.update-inv-at-location-control-panel-column {
  border: 2px solid #000000; /* Border for each grid item */
  background: rgba(204, 204, 204, 0.7);
  align-items: start;
  width: auto;
  padding: 0.25vw;
}

#update-inv-at-location-control-panel-column-1 p {
  margin: 0;
  padding: 0;
}

#update-inv-at-location-control-panel-column-1 {
  background: rgba(9, 122, 3, 0.7);
}

#update-inv-location-id-field {
  margin: 2.5vh 0 2.25vh 0;
}

.update-location-inv-field-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
  margin-bottom: 0.5vh;
}

.update-location-inv-field-label {
  margin: 0;
  font-size: 13px;
}

.update-location-inv-field {
  width: 4.5vw;
}

.update-location-inv-right-arrow {
  font-size: 40px;
  position: relative;
  top: -0.5vh;
}
