.marker-popup-7d-forecast-data-hidden {
  display: none;
}

.marker-popup-7d-forecast-data-visible {
  display: flex;
  background: rgba(204, 204, 204, 0.6);
  margin-top: 5px;
  overflow: auto;
}

#empty-weather-forecast-message {
  color: red;
  margin-top: 5px;
}

.forecast-period-row,
.forecast-temperature-row,
.forecast-row {
  border: 1px solid black;
  width: 6vw;
  padding: 2px 0 2px 2px;
}

.forecast-temperature-row {
  height: 2vh;
}

.forecast-row {
  height: 10vh;
}
