body {
  margin: 0;
}

.App {
  background-image: url("https://arc-anglerfish-arc2-prod-bostonglobe.s3.amazonaws.com/public/UHWFTKEL3AI6NLVIBY2RTFZ2AY.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

#main-header {
  position: relative;
  padding-left: 0.5vw;
  color: black;
  background: rgba(204, 204, 204, 0.6);
  outline-style: solid;
  font-size: 0.85em;
  width: 100vw;
}

#main-title {
  margin: 0; /* Add this to remove margin for h1 */
}

#secondary-headers {
  margin: 0; /* Add this to remove margin for the container of secondary headers */
}

#secondary-headers {
  font-size: medium;
  padding-bottom: 0.25vh;
  padding-left: 1vw;
  font-size: 0.9em;
}

#map-inv-mgmt-row {
  display: flex;
  margin: 2vh 0 0 1vw;
}

#map-column {
  display: flex;
  padding: 0 0.5vw;
  color: black;
  background: rgba(204, 204, 204, 0.6);
  outline-style: solid;
  width: 60vw;
  height: 77vh;
}

#map-control-panel-buttons-wrapper {
  display: flex;
  margin-right: 0.5vw;
}

.map-control-panel-element-wrapper {
  padding: 0 1vw;
}

#leaflet-map-image {
  height: 55vh;
  width: 45vw;
}

#add-marker-at-address-panel-wrapper {
  margin-left: 2vw;
}

#add-marker-at-address-button {
  margin-top: 4vh;
}

#inv-update-analytics-column {
  display: flex;
  flex-direction: column;
  color: black;
  background: rgba(204, 204, 204, 0.6);
  outline-style: solid;
  height: 77vh;
  width: 35vw;
  margin-left: 1vw;
}

#inv-update-panel {
  color: black;
  height: 24vh;
  outline-style: solid;
}

.inv-update-analytics-panel-title {
  margin-left: 0.5vw;
}

#update-inv-at-location-controls-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: start;
  margin-left: 0.5vw;
}

.update-inv-at-location-control-panel-column {
  border: 2px solid #000000; /* Border for each grid item */
  background: rgba(204, 204, 204, 0.7);
  align-items: start;
  width: 10.5vw;
  padding: 0.25vw;
}

#update-inv-location-id-label {
  position: relative;
  top: -0.9vw;
}

#update-inv-location-id-field {
  position: relative;
  top: -0.9vw;
}

.udpate-inv-at-location-field {
  width: 100px;
}

.udpate-inv-at-location-number-field {
  width: 50px;
}

#milk-current-new-number-fields {
  display: flex;
}

#bread-current-new-number-fields {
  display: flex;
}

#update-inv-milk-new {
  margin-left: 0.5vw;
}

#update-inv-bread-new {
  margin-left: 0.5vw;
}

.analytics-tab {
  margin-left: 0.5vw;
}

.tab-btn {
  border: 1px solid black;
  font-weight: bold;
}

.analytics-tab-content {
  outline-style: solid;
  outline-width: 1px;
  padding: 6px 12px;
  margin: 0 0.5vw 0 0.5vw;
  background: rgba(204, 204, 204, 0.6);
  height: 18vw;
}
